<!DOCTYPE html> 
<html> 
<head> 
  {% load static %}
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/fvc/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">



  <title>An SVG Editor is called Onion</title>
  <!--meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"-->
  <!--script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script-->
  <style>
    html, body {margin: 0; padding: 0; overflow: hidden}
  </style>
<script>{{jsstring}}</script>
  <link rel="stylesheet" type="text/css" href="{% static 'draw/css/style102.css' %}">

<script src="{% static 'draw/js/jquery-1.9.1.js' %}"></script>
<!--script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script src="./js/jquery.ui.touch-punch.js"></script-->

<script src="{% static 'draw/js/svg.min.js' %}"></script>
<!--script src="./js/func160128.js"></script-->
<script src="{% static 'draw/js/eee_tmp.js' %}"></script>
</head>
<body>
  <script>
 
  </script>
  <body bgcolor="#CfB949" style="cursor: auto;">
<div class="maiin" id="drawing"> 
</div>
<button type="button" onclick = "saveFile()">{{pictureid}}</button>
<!--div  class="leftt" id="indicatt"--!>
<!--img id="indic" src="imgs/curvedrw_0.gif"-->
<!--div-->
  <!--Try pulling down this page with touch in iPhone/iPad, nothing happens! No rubberband scroll.-->
</body>
</html>