<!DOCTYPE html> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {% load static %}
  <title>Ershov</title>

  <link rel="stylesheet" type="text/css" href="{% static 'view/css/view.css' %}">

<script src="{% static 'view/v_js/jquery-1.9.1.js' %}"></script>

<script src="{% static 'view/v_js/func160111.js' %}"></script>
<script src="{% static 'view/v_js/svg.min.js' %}"></script>
<script src="{% static 'view/v_js/NoSleep.js' %}"></script>
</head>
<body>
  <script>
 
  </script>
  <body bgcolor="#000" >
<div class="maiin" id="drawing"> </div>

</body>
</html>