<html>
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>A row of images</title>

<link rel="stylesheet" type="text/css" href="{% static 'common/css/style818.css' %}">

</head>

<body bgcolor="#9f9949" >
<div class = "container"> 
  <img id="id889" class="image1" src="{% static 'common/imgs/img2379.jpg' %}" /> 
  <a href = "draw/0/"><img id="id878" class="image2 bottomDiv" src="{% static 'common/imgs/pen01.png' %}" /></a> 
</div>
<div class = "container"> 
  <img id="id890" class="image1" src="{% static 'common/imgs/img2348.jpg' %}" /> 
  <a href = "draw/1/"><img id="id87a" class="image2 bottomDiv" src="{% static 'common/imgs/pen01.png' %}" /></a> 
</div>
<div class = "container"> 
  <img id="id888" class="image1" src="{% static 'common/imgs/img08.jpg" /> 
  <a href = "draw/3/"><img id="id87a" class="image2 bottomDiv" src="{% static 'common/imgs/pen01.png" /></a> 
</div>
<div class = "container"> 
<img id="id887" class="image1" src="{% static 'common/imgs/img07.jpg" /> </div>
<div class = "container"> 
<img id="id886" class="image1" src="{% static 'common/imgs/img06.jpg" /> </div>
<div class = "container"> 
<img id="id885" class="image1" src="{% static 'common/imgs/img05.jpg" /> </div>
<div class = "container"> 
<img id="id884" class="image1" src="{% static 'common/imgs/img04.jpg" /> </div>
<div class = "container"> 
<img id="id883" class="image1" src="{% static 'common/imgs/img03.jpg" /> </div>
<div class = "container"> 
<img id="id882" class="image1" src="{% static 'common/imgs/img02.jpg" /> </div>
<div class = "container"> 
<img id="id881" class="image1" src="{% static 'common/imgs/img01.jpg" /> </div>

</body>
</html>
