<html>
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>A row of images</title>

<link rel="stylesheet" type="text/css" href="{% static 'common/css/style818.css' %}">

</head>

<body bgcolor="#9f9949" >
<div class = "container"> 
  <img id="id889" class="canvas" src="{% static 'common/imgs/img2379.jpg' %}" /> 
  <a href = "http://192.168.2.105/draw/0/"><img id="id878" class="pencil bottomDiv" src="{% static 'common/imgs/pen01.png' %}" /></a>
</div>
<div class = "container"> 
  <img id="id890" class="canvas" src="{% static 'common/imgs/img2348.jpg' %}" /> 
  <a href = "http://192.168.2.105/draw/1/"><img id="id87a" class="pencil bottomDiv" src="{% static 'common/imgs/pen01.png' %}" /></a> 
</div>
<div class = "container"> 
  <img id="id89a0" class="canvas" src="{% static 'common/imgs/img2450.jpg' %}" /> 
  <a href = "http://192.168.2.106/draw/0/"><img id="id8a" class="pencil bottomDiv" src="{% static 'common/imgs/pen01.png' %}" /></a> 
</div>
<div class = "container"> 
  <img id="id4a0" class="canvas" src="{% static 'common/imgs/img2451.jpg' %}" /> 
  <a href = "http://192.168.2.106/draw/1/"><img id="id4a" class="pencil bottomDiv" src="{% static 'common/imgs/pen01.png' %}" /></a> 
</div>
<div class = "container"> 
  <img id="id4c0" class="canvas" src="{% static 'common/imgs/img2453.jpg' %}" /> 
  <a href = "http://192.168.2.200/draw/0/"><img id="iad4a" class="pencil bottomDiv" src="{% static 'common/imgs/pen01.png' %}" /></a> 
</div>
<div class = "container"> 
  <img id="id4c30" class="canvas" src="{% static 'common/imgs/img2454.jpg' %}" /> 
  <a href = "http://192.168.2.200/draw/1/"><img id="iad43a" class="pencil bottomDiv" src="{% static 'common/imgs/pen01.png' %}" /></a> 
</div>

</body>
</html>
